
unattended-upgrades==0.1
Unidecode==1.0.23
urllib3==1.24.1
usb-creator==0.3.3
virtualenv==15.1.0
visdom==0.1.8.5
wadllib==1.3.2
warmup-scheduler==0.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.11.1
xkit==0.0.0
zope.interface==4.3.2

